<div class="card">
  <form id="addpostform">
    <div class="card-header">
      <h4 class="card-title">Add Post</h4>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Title" name="title" id="title">
        </div>
      </div>
    </div>
    <div class="card-header">
      <p class="mb-0">
        More complex layouts can also be created with the grid system.
      </p>
    </div>
    
    <div class="card-body">
      <div class="form-group">
        <textarea type="text" class="form-control" rows="3" placeholder="Description" id="description" name="description"></textarea>
      </div>
      <div class="alert alert-warning" role="alert">
          <p id="msg"></p>
      </div>
      <input type="button" id="submit" class="btn btn-primary" value="ADD POST" />
    </div>
  </form>
</div>